---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection("posts");
const pageTitle = "My Blog Site"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>coderpwh Blog</h2>
    <p>用于记录我的生活，爱好，学习，心路历程的博客</p>
    <ul>
        {
            allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />)
       }
    </ul>
</BaseLayout>
