---
import BaseLayout from '../layouts/BaseLayout.astro';
import Zen from "../components/Zen";
const pageTitle = "coderpwh blog";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Welcome to my blog!</h2>
	<!--<Greeting client:load messages={["Hi","Hello","Howdy","Hey there"]}/>-->
	<Zen client:load />
</BaseLayout>