---
const {platform ,username,img} = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>
    <img alt={platform} src={img}>
</a>

<style>
    a {
        padding: 0.5rem 0.5rem;
        text-decoration: none;
    }
</style>